.venv/
.env
__pycache__/
.ipynb_checkpoints/

*.tif
*.geojson
*.json
*.xml
*.csv
*.zip
*.nc
*.kmz
*.bin
*.html
*.bufr4

*.aux.xml
*.log
.DS_Store
.idea/

tc_data/
tc_extracted/
tc_transformed/
tc_data_transformed/
wind_data/
wind_extracted/
ecmwf_wind_data_extractor_BACKUP.py
pipeline_demonstration_JAM.ipynb
pipeline_demonstration_TEST.ipynb
visualizations/
testing.ipynb

